<header>
  <h1>Players Quick View</h1>
</header>

<ul class="cd-items cd-container">
  <% @list.each do |player| %>
      <li class="cd-item">
        <img src=<%=player.avatar.medium.url %>   name= <%= player.id %> alt="Item Preview">
        <a href="#0" class="cd-trigger"><%= player.display_name%></a>
      </li> <!-- cd-item -->
  <% end %>

</ul> <!-- cd-items -->

<div class="cd-quick-view">
  <div class="cd-slider-wrapper">
    <ul class="cd-slider">
      <li class="selected"><img src="" alt="Product 1"></li>
    </ul> <!-- cd-slider -->
  </div> <!-- cd-slider-wrapper -->

  <div class="cd-item-info">
    <h2></h2>
    <p id="team"></p>
    <p id="base-price"> </p>

  </div> <!-- cd-item-info -->
  <a href="#0" class="cd-close">Close</a>
</div> <!-- cd-quick-view -->
