<header>
  <h1 class="main-heading">QB Auction 2015</h1>
</header>

<ul class="cd-items cd-container">
  <%= render :partial => '/players/list' %>
</ul> <!-- cd-items -->

<div class="cd-quick-view">
  <div class="cd-slider-wrapper">
    <ul class="cd-slider">
      <li class="selected"><img src="" alt="Product 1"></li>
    </ul> <!-- cd-slider -->
  </div> <!-- cd-slider-wrapper -->

  <div class="cd-item-info">
    <h2></h2>
    <p id="sex"> </p>
    <p id="team"></p>
    <p id="base-price"> </p>
    <p id="sold-price"></p>
    <p id="status" class=""></p>
    <img src="" id="cricket" >
    <img src="" id="football" >
    <img src="" id="badminton" >
    <img src="" id="stars" >


  </div> <!-- cd-item-info -->
  <a href="#0" class="cd-close">Close</a>
</div> <!-- cd-quick-view -->

<div class="pagination_container" style="visibility:hidden">
  <%= will_paginate @list, :params => { :tab_id => 1} %>
</div>

