

<header>
  <h1>Players Quick View</h1>
</header>

<ul class="cd-items cd-container">
  <% @list.each do |player| %>
      <li class="cd-item">
        <%= image_tag(player.avatar.medium.url) %>
        <a href="<%= player_path(player.id) %>" class="cd-trigger">Quick View</a>
      </li> <!-- cd-item -->
  <%end%>

</ul> <!-- cd-items -->



