<header>
  <h1 class="main-heading">QB Games 2015</h1>
</header>
<div id="tabs">
  <ul>
    <li><a href="#tabs-1">Icons</a></li>
    <li><a href="#tabs-2">Dauntless Guys</a></li>
    <li><a href="#tabs-3">Peppy Galz</a></li>
  </ul>
  <div id="tabs-1">
    <ul class="cd-items cd-container">
      <%= render :partial => '/players/star' %>
    </ul> <!-- cd-items -->
  </div>
  <div id="tabs-2">
    <ul class="cd-items cd-container">
      <%= render :partial => '/players/guys' %>
    </ul> <!-- cd-items -->
  </div>
  <div id="tabs-3">
    <ul class="cd-items cd-container">
      <%= render :partial => '/players/galz' %>
    </ul> <!-- cd-items -->
  </div>
</div>


<div class="cd-quick-view">
  <div class="cd-slider-wrapper">
    <ul class="cd-slider">
      <li class="selected"><img src="" alt="Product 1"></li>
    </ul> <!-- cd-slider -->
  </div> <!-- cd-slider-wrapper -->

  <div class="cd-item-info">
    <h2></h2>
    <p id="sex"> </p>
    <p id="team"></p>
    <p id="base-price"> </p>
    <p id="sold-price"></p>
    <p id="status" class=""></p>
    <img src="/assets/blank.png" id="cricket" >
    <img src="/assets/blank.png" id="football" >
    <img src="/assets/blank.png" id="badminton" >
    <img src="/assets/blank.png" id="stars" >


  </div> <!-- cd-item-info -->
  <a href="#0" class="cd-close">Close</a>
</div> <!-- cd-quick-view -->

<div class="pagination_container" style="visibility:hidden">
  <%#= will_paginate @list, :params => { :tab_id => 1} %>
</div>

